//-- Import Variables
@import "variables";

// Import Bootstrap's SCSS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//-- Container do App
.container-app {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    width: 100vw;
    height: 100vh;

    background-color: $bg-app;
}

//-- Container da página principal
.container-home {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90vw;
    height: 90vh;

    background-color: $bg-game;

    border-radius: 25px;
}

//-- Container do temporizador / inimigo
.container-default {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: fit-content;

    margin: 20px;
    padding: 20px;

    background-color: $bg-app;
    border-radius: 25px;

    i,
    h2 {
        margin: 0;
    }
}

//-- Container do display
.container-display {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;
    margin: 20px;

    background-color: $bg-show;
    border-radius: 25px;

    h1 {
        margin: 20px;
    }
}

//-- Botão de seleção de jogada
.btn-weapon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    background-color: $bg-show;
    border-radius: 50%;

    cursor: pointer;

    transition: all 0.3s;

    &:hover {
        transform: scale(1.3);
    }

    img {
        width: 80%;
        height: auto;
        margin: 0;
        padding: 0;
    }
}