@import "custom";

.home-logo {
    position: relative;
    width: 70vw;
    height: 12vh;
    background-color: $bg-app;

    border-radius: 50px;

    &::after {
        content: "";
        display: block;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 66vw;
        height: auto;
    }
}

.home-btn {
    margin-top: 10vh;

    position: relative;
    width: 30vw;
    height: 8vh;
    background-color: $bg-app;

    border-radius: 50px;

    transition: all .2s ease-in-out;

    &::after {
        content: "";
        display: block;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 26vw;
        height: auto;

        transition: all .2s ease-in-out;
    }

    &:hover {
        background-color: $bg-game;

        img {
            width: 30vw;
        }
    }
}